

.line {
    fill: none;
    opacity: 0.7;
    stroke-width: 4px;
}

.axis{
    font-family: "Helvetica Neue", Helvetica, sans-serif;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}